*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.wrapped{
    background-color: grey;
    width: 100%;
    height: 100vh;
}


.top{
    background-color: chartreuse;
    height: calc(100% - 70px);
    display: flex;
}


.bottom{
    background-color: aqua;
    height: 70px;
}

.sidebar{
    background-color: coral;
    height: 100%;
    width: 50px;
}

.upgradebar{
    background-color: darkgreen;
    height: 90px;
    width: 100%;
}

/*Media section*/

@media screen and (min-width:490px){
    .sidebar{
        width:230px ;
    }
}